REDIS_URI=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
DATABASE_USER=admin
DATABASE_PASSWORD=admin
DATABASE_HOST=localhost
DATABASE_NAME=
JWT_SECRET=
JWT_EXPIRES_IN=24h
PORT=5500
TERMII_API_KEY=
TERMII_BASE_URL=
TERMII_SENDER_ID=
MAILTRAP_UNAME=
MAILTRAP_PASS=
MAILTRAP_HOST=
MAIL_FROM=
NODE_ENV=
HTTP_TIMEOUT=
STORAGE_PROVIDER=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT_URL=
R2_BUCKET_NAME=

