    DATABASE_USER=
    DATABASE_PASSWORD=
    DATABASE_NAME=
    JWT_SECRET=
    JWT_EXPIRES_IN=3600s
    APP_URL=http://localhost:3000
    PORT=5500
    TERMII_API_KEY=your_api_key
    TERMII_BASE_URL=https://api.ng.termii.com/api
    TERMII_SENDER_ID=
    MAILTRAP_UNAME=
    MAILTRAP_PASS=
    NODE_ENV=DEVELOPMENT
    HTTP_TIMEOUT=
    REDIS_URI=

