DATABASE_HOST=
DATABASE_NAME=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_USER=
HTTP_TIMEOUT=
JWT_EXPIRES_IN=
JWT_SECRET=
MAILTRAP_HOST=
MAILTRAP_PASS=
MAILTRAP_UNAME=
MAIL_FROM=
NODE_ENV=
PORT=
REDIS_HOST=
REDIS_PORT=
REDIS_URI=
TERMII_API_KEY=
TERMII_BASE_URL=
TERMII_SENDER_ID=